<!DOCTYPE html>
<html lang="en" ng-app="product">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stannady Fragrances</title>
    <link rel="icon" href="images/s-16-193323.png" type="image/png" size="16x16">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Courgette|Dancing+Script:700|Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet" type="text/css">
    <link href="css/structure.css" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Welcome to Stannady Fragrances!</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">S.F</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#home">About</a>
                    </li>
                    <li>
                        <a href="#men">Men's</a>
                    </li>
                    <li>
                        <a href="#women">Women's</a>
                    </li>
                    <li>
                        <a href="#form3">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- jumbotron message -->
    <div class="jumbotron" id="home">
        <h1 class="jumboHeader">Welcome to Stannady Fragrances!</h1>
        <hr />
        <div class="jumbotron_container">
          <p class="jumboContent">Providing the finest imported and domestic fragrance oil's, we currently sell exclusively on
              <a href="https://www.facebook.com/stannadyfragrances" target="_blank">Facebook Marketplace</a>
              and on <a href="https://www.bonanza.com/booths/Stannady_Fragrances" target="_blank">Bonanza Marketplace</a>.</p>
              <hr />
              <p class='jumboContent'>Please fill out the contact form below if you would like to reach out and
              place a special order. Building relationships with our customers is the cornerstore to our success!</p>
          <hr />
          <p class="disclaimer">*****DISCLAIMER: Our Designer Perfume Oils are "TYPES" because the brand names are exclusively the property
              of their original manufacturer and are registered trademark names. We are not connected with the brand name. *****</p>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container" ng-controller="ProductCtrl">

        <div class="row">

            <div class="col-lg-12" id="men">
                <h1 class="page-header">Men's Product Gallery</h1>
            </div>

            <div ng-repeat="detail in details">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <div class="thumbnail">
                      <a data-toggle="modal" data-target="#dialogTestDialogMale{{$index}}">
                        <img class="img-responsive" src="assets/pexels-photo-84578.jpeg" alt="generic fragrance oil bottle image">
                            <center><strong><p>{{ detail.name }}</strong></p></center>
                      </a>
                    </div>
                    <!-- Modal -->
                          <div class="modal" id="dialogTestDialogMale{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title" id="myModalLabel"> <strong>Product Type:</strong> {{detail.name}}</h4>
                                        </div>
                                        <div class="modal-body">

                                            <table class="pull-left col-md-8 ">
                                                <tbody>
                                                    <tr>
                                                        <td class="h6"><strong>Product Info:</strong> <p>Featuring the absolute finest quality imported and domestic perfume body oils for men and women.
                                                              These oils are imported from Saudi Arabia, India, and Cambodia. Pure perfume oils are safer and healthier for the skin.
                                                              Regular perfumes even the most expensive contain alcohol which dries out the skin, may cause allergic reactions.
                                                              Pure imported and domestic fragrance oils cost a fraction of the what name brands cost. The oil fragrances last longer
                                                              for sure.</p>
                                                        </td>
                                                        <td> </td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                            <div class="col-md-4">
                                                <img class="img-thumbnail" src="assets/oil_bottle_400X300.png" alt="generic fragrance oil bottle image">
                                                <div class="caption"></div>

                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="modal-footer">
                                                <div class="text-right pull-right col-md-2">
                                                  <span class="h4 text-muted"><strong><a href="https://www.bonanza.com/booths/Stannady_Fragrances" target="_blank">Bonanza</a></strong></span>
                                                </div>
                                                <!-- <div class="text-right pull-right col-md-2">
                                                    Imports <br/>
                                                    <span class="h3 text-muted"><strong><center> +$2.00 </center></strong></span>
                                                </div> -->

                                                <div class="text-right pull-right col-md-3 price">
                                                    Size: 1/3 ounce <br/>
                                                    <span class="h3 text-muted"><strong><center> $10.00 </center></strong></span></span>
                                                </div>

                                                <div class="text-right pull-right col-md-3">
                                                    Size: 1 ounce <br/>
                                                    <span class="h3 text-muted"><strong><center> $15.00 </center></strong></span>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                    <!-- fim Modal-->
                </div>
            </div>

<div class="clearfix"></div>

        <div class="row">

            <div class="col-lg-12" id="women">
                <h1 class="page-header">Women's Product Gallery</h1>
            </div>

            <div ng-repeat="name in names">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <div class="thumbnail">
                      <a data-toggle="modal" data-target="#dialogTestDialog{{$index}}">
                        <img class="img-responsive" src="assets/scent-sticks-fragrance-aromatic-161570.jpeg" alt="generic fragrance oil bottle image">
                            <center><p><strong>{{ name.name }}</strong></p></center>
                      </a>
                    </div>
                    <!-- Modal -->
                          <div class="modal" id="dialogTestDialog{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header" id="modal-header_women">
                                          <h4 class="modal-title" id="myModalLabel"> <strong>Product Type:</strong> {{name.name}}</h4>
                                        </div>
                                        <div class="modal-body">

                                            <table class="pull-left col-md-8 ">
                                                <tbody>
                                                    <tr>
                                                        <td class="h6"><strong>Product Info:</strong> <p>Featuring the absolute finest quality imported and domestic perfume body oils for men and women.
                                                              These oils are imported from Saudi Arabia, India, and Cambodia. Pure perfume oils are safer and healthier for the skin.
                                                              Regular perfumes even the most expensive contain alcohol which dries out the skin, may cause allergic reactions.
                                                              Pure imported and domestic fragrance oils cost a fraction of the what name brands cost. The oil fragrances last longer
                                                              for sure.</p>
                                                        </td>
                                                        <td> </td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                            <div class="col-md-4">
                                                <img class="img-thumbnail" src="assets/oil_bottle_400X300.png" alt="generic fragrance oil bottle image">
                                                <div class="caption"></div>

                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="modal-footer">
                                                <div class="text-right pull-right col-md-2">
                                                    <span class="h3 text-muted"><strong><center> <a href="https://www.bonanza.com/booths/Stannady_Fragrances" target="_blank">Online Shop</a> </center></strong></span> <br/>
                                                </div>
                                                <!-- <div class="text-right pull-right col-md-2">
                                                    Imports <br/>
                                                    <span class="h3 text-muted"><strong><center> +$2.00 </center></strong></span>
                                                </div> -->

                                                <div class="text-right pull-right col-md-3 price">
                                                    Size: 1/3 ounce <br/>
                                                    <span class="h3 text-muted"><strong><center> $10.00 </center></strong></span></span>
                                                </div>

                                                <div class="text-right pull-right col-md-3">
                                                    Size: 1 ounce <br/>
                                                    <span class="h3 text-muted"><strong><center> $15.00 </center></strong></span>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                    <!-- fim Modal-->
                </div>
            </div>

        </div>

        <hr />

        <!-- contact me form -->
        <div id="contact container" class="ltr">
            <form id="form3" name="form3" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
                  action="https://stannadyfragrances.wufoo.com/forms/q74dfr81dzw6dx/#public">

                  <header id="header" class="info">
                      <h2><div style="text-align: center;"><strong><h3>Contact Us!</h3></strong></div></h2>
                        <div><strong><h4>If you have any special request, would like to reach out to us about bulk ordering, or you have any other issues/questions, please contact us and we will get back to you as soon as possible.</h4></strong></div>
                  </header>
                  <center><ul>
                      <li id="foli11" class="notranslate      ">
                          <label class="desc" id="title11" for="Field11">
                              <div style="text-align: center;"><strong>Email</div></strong>
                          </label>
                          <div>
                            <input id="Field11" name="Field11" type="email" spellcheck="false" class="field text large" value="" maxlength="255" tabindex="1" placeholder="Please enter your valid e-mail here..." />
                          </div>
                      </li>
                      <li id="foli13" class="notranslate      ">
                          <label class="desc " id="title13" for="Field13">
                              <div style="text-align: center;"><strong>Phone Number</strong></div>
                          </label>
                          <div>
                              <input id="Field13" name="Field13" type="text" class="field text nospin large"  value="" tabindex="2" onkeyup="" placeholder="FORMAT: XXXXXXXXXX"/>
                          </div>
                      </li>
                      <li id="foli1" class="notranslate      ">
                          <label class="desc" id="title1" for="Field1">
                              <div style="text-align: center;"><strong>Subject</strong></div>
                          </label>
                          <div>
                              <input id="Field1" name="Field1" type="text" class="field text large" value="" maxlength="255" tabindex="3" onkeyup="" placeholder="What are you messaging us about today?" />
                          </div>
                      </li>
                      <li id="foli10" class="notranslate">
                          <label class="desc" id="title10" for="Field10">
                              <div style="text-align: center;"><strong>Message</strong></div>
                          </label>

                          <div>
                              <textarea id="Field10"
                                  name="Field10"
                                  class="field textarea small"
                                  spellcheck="true"
                                  rows="10" cols="50"
                                  tabindex="4"
                                  onkeyup=""
                                  placeholder="Enter message here...">
                              </textarea>
                          </div>
                      </li>
                      <li class="buttons">
                          <div>
                              <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit"/>
                              <a href="https://master.wufoo.com/forms/m7p0x3/def/field1=stannadyfragrances.wufoo.com/forms/contact-us-q74dfr81dzw6dx/" target="_blank"
                                 style="font-size:85% !important;visibility:visible !important;display:inline !important;
                                        background:none !important;border:none !important;color:blue !important;
                                        text-indent:0 !important;text-decoration:underline !important;position:static !important;
                                        margin:0 !important;padding:0 !important;overflow:none !important
                                        width:auto !important;height:auto !important;">Report Abuse
                              </a>
                          </div>
                      </li>

                      <li class="hide">
                          <label for="comment">Do Not Fill This Out</label>
                          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                          <input type="hidden" id="idstamp" name="idstamp" value="HYV8p86pSfOYIOhy+pSerwZ5FDSNYDtZXpxU8ipjCSM=" />
                      </li>
                  </ul></center>
              </form>

              <hr />
                    <h3>Online Marketplace</h3>
                  <ul class="list-inline banner-social-buttons">
                    <li><a href="https://www.bonanza.com/booths/Stannady_Fragrances" class="btn btn-success btn-lg"><i class="fa fa-twitter"> <span class="network-name">Bonanza</span></i></a></li>
                    <li><a href="https://www.facebook.com/stannadyfragrances" class="btn btn-info btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
                  </ul>
          </div><!--container-->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Glorious Enterprises <small>EST.2017</small></p>
                </div>
            </div>
        </footer>

    </div>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.2.0/buzz.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/services/Men.js"></script>
    <script src="js/wufoo.js"></script>


</body>

</html>
